.home {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}
.font {
  font-style: italic;
  margin-top: 5px;
  color: gray;
}
.complete {
  font-size: large;
  font-style: italic;
  margin-top: 5px;
}
.complete button {
  border: 1px solid gray;
  border-radius: 5px;
  font-style: italic;
  margin-right: 5px;
}
.never {
  text-align: center;
  margin-top: 2%;
  font-size: xx-large;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 25%;
  margin-left: 25%;
  background-color: beige;
}
.image {
  text-align: center;
}
